.card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  background: rgb(3, 2, 87);
  background: radial-gradient(circle, rgba(3, 2, 87, 1) 0%, rgba(84, 182, 205, 1) 10%, rgba(120, 91, 201, 1) 19%, rgba(153, 75, 165, 1) 100%);
  width: 30%;
  height: 30%;
  margin: 2%;
  border-radius: 10%;

  text-decoration: none;
  color: black;
  text-align: center;

  > img {
    height: 60%;
    border-radius: 100%;
  }

  > div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;

    > button {
      height: 2.5vh;
      width: 30%;
      border: none;
      background-color: #80ab51;
      border-radius: 2vw;
      margin: 1%;
    }

    :hover {
      background-color: #6f54cd;
      color: white;
    }


  }


}