.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  > :nth-child(1) {
    width: 60vw;
    height: 2vh;
    background-color: #444141;
    position: absolute;
    top: 50vh;
    border-radius: 20px;
  }
  > :nth-child(2) {
    width: 3vw;
    height: 2vh;
    background-color: #c0c0c0;
    position: absolute;
    top: 50vh;
    left: 35vw;
    border-radius: 20px;
    animation: runDiv linear infinite 2s;
  }
}

@keyframes runDiv {
  from {
    left: 35vw;
  }

  50% {
    left: 90vw;
  }

  to {
    left: 35vw;
  }
}