.newsCard {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 96%;
  margin: 2%;
  border-radius: 2%;
  background-color: #9a9999;


  > img {
    width: 60%;
  }

}